.rst-content .sidebar .sidebar-title {
    display: block;
    font-family: "Roboto Slab","ff-tisa-web-pro","Georgia",Arial,sans-serif;
    font-weight: bold;
    background: #e1e4e5;
    padding: 6px 12px;
    margin: -12px;
    margin-bottom: 12px;
    font-size: 100%;
}
.rst-content .sidebar {
    float: right;
    width: 30%;
    display: block;
    margin: 0 0 12px 12px;
    padding: 12px;
    background: #f3f6f6;
    border: solid 1px #e1e4e5;
}


.handsontable tr:first-child td {
   background-color: lightgrey !important;
}

.handsontable td {
  font-size: 12px !important;
  /*color: #428bca !important*/
  color: #404040 !important;
  border-right: none !important;
  border-left: none !important;
  font-family: verdana !important;
}



/* override table width restrictions */
@media screen and (min-width: 767px) {

    table.my-wrap td {
       /* !important prevents the common CSS stylesheets from overriding
          this as on RTD they are loaded after this stylesheet */
       white-space: normal !important;
    }

    table.my-wrap {
       overflow: visible !important;
    }
}

.center:not(.section), .center>h1, .center>h2{
    text-align: center;
}

.fig1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}


.sidebyside {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.clearsidebyside {
  content: "";
  clear: both;
  display: table;
}

table.docutils.vertical-list {
  border: 0px none;
}

table.docutils.vertical-list td {
  border: 0px none;
  background-color: transparent;
  font-size: 100%;
  padding: 4px 8px;
}
table.docutils.vertical-list td:first-child {
  font-weight: bold;
  /* background-color: lightgrey; */
}

table.docutils.vertical-list:not(.field-list) tr:nth-child(2n-1) td {
    background-color: transparent;
}

/* table.docutils.vertical-list:not(.field-list) tr:nth-child(2n-1) td:first-child {
    background-color: lightgrey;
} */